#app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.led-matrix {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg) rotateX(180deg);
}

body {
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.char {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 50px;
  font-weight: bold;
  /* margin: 5px; */
}

.pixel {
  display: flex;
  width: 10px;
  height: 10px;
  color: white;
  font-size: 5px;
  font-weight: bold;
  margin: 1px;
  border-radius: 50%;
}

.on {
  background-color: rgb(85, 219, 8);
  color: black;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 5px;
}
